# Ignore compiled Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment-specific files
.env
venv/
*.env

# Ignore logs and temporary files
*.log
*.swp
*.swo
*.tmp

# Ignore package installation files
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db